/////////////////////////////////////////////////////////////////////////////////
// Application Layout
/////////////////////////////////////////////////////////////////////////////////

html, body {
  width: 100%;
}

section {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 4.5em 2em;
  background-color: $off-white;
  text-align: center;
}

figure {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/////////////////////////////////////////////////////////////////////////////////
// Collar Separator
/////////////////////////////////////////////////////////////////////////////////

.collar {
  @include position(absolute, 0px 0px null 0px);
  height: 110px;
  text-align: center;
  background-color: #9d581b;
  background-image: url(asset_path('textures/dark-leather.png'));
  border-top: 10px solid rgba(0,0,0,0.25);
  border-bottom: 10px solid rgba(0,0,0,0.25);
  box-shadow: 0px 3px 20px 2px #606060;
  .collar-stitching {
    @include position(absolute, 10% 0px);
    border-top: 2px dashed rgba(255,255,255, 0.4);
    border-bottom: 2px dashed rgba(255,255,255, 0.4);
  }
  .collar-logo {
    @include position(absolute, -60px 0px null 0px);
    img { width: 200px; }
  }
}

/////////////////////////////////////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////////////////////////////////////

footer {
  position: relative;
  height: 390px;
  background-image: url(asset_path('collage-4.jpg'));
  background-size: cover;
  &:before {
    content: '';
    @include position(absolute, 0px);
    @include linear-gradient(180deg, rgba(17, 87, 155, 1), rgba(66, 160, 250, 0.6));
    background-color: rgba(0,0,0, 0.85);
  }

  .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    text-align: center;

    h3 {
      margin: 0.25em 0;
      font-size: 2.25em;
      color: rgb(10, 52, 92);
      text-shadow:
        0px -1px 0px rgba($black, 0.75),
        0px 1px 0px rgba($white, 0.25);
      letter-spacing: 0.08em;
    }

    a {
      color: rgba(255,255,255,0.6);
      &:hover { color: rgba(255,255,255,0.9); }
    }

    ul {
      display: inline-block;
      margin: 2em;
      padding: 0;
      vertical-align: top;
      li {
        display: block;
        padding: 0.25em;
        text-align: center;
      }
    }

    hr {
      border: 1px solid rgba(255, 255, 255, 0.1);
      width: 6em;
    }

    p {
      font-size: 1em;
      color: rgba(255,255,255,0.8);
      text-align: center;
      &:first-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .gianna-codes {
      font-weight: 600;
      color: rgb(10, 52, 92);
      text-shadow:
        0px -1px 0px rgba($black, 0.75),
        0px 1px 0px rgba($white, 0.25);
      &:hover {
        color: #D2527F;
      }
    }
  }
}
