/////////////////////////////////////////////////////////////////////////////////
// Application Layout
/////////////////////////////////////////////////////////////////////////////////

html, body {
  width: 100%;
  overflow-x: hidden;
}

#before-page {
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  height: 500px;
  background-color: #1062B4;
}

section {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 110px 0px 35px;
  background-color: $off-white;
  text-align: center;
}

figure {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#mobile-nav {
  display: none;
}

#darkening-layer {
  display: block;
  position: fixed;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  z-index: -5;
  background-color: #000;
  opacity: 0;
  @include transition(opacity 0.3s);
  &.active {
    z-index: 10;
    opacity: 0.75;
  }
}

#photo-modal {
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  display: block;
  z-index: 9999;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 10px 50px -3px #000;
}


.collar {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include position(absolute, 0px 0px null 0px);

  height: 110px;
  text-align: center;
  background-color: #9d581b;
  background-image: url(asset_path('backgrounds/dark-leather.png'));
  border-top: 10px solid rgba(0,0,0,0.25);
  border-bottom: 10px solid rgba(0,0,0,0.25);
  box-shadow: 0px 3px 20px 2px #606060;

  h2 {
    display: inline-block;
    font-family: 'flagship_slabbold';
    text-shadow: -1px -1px 0px rgba(0,0,0,0.75);
    color: #D2B48C;
    line-height: 1.65em;
    &:first-of-type { margin: 0 4em; }
    &:last-of-type { margin: 0 3.5em; }
  }

  .stitching {
    @include position(absolute, 10% 0px);
    border-top: 2px dashed rgba(255,255,255, 0.4);
    border-bottom: 2px dashed rgba(255,255,255, 0.4);
  }

  .logo {
    @include position(absolute, -60px 0px null 0px);
    img { width: 200px; }
  }
}
