/* Mobile-First Responsonsive Breakpoints */
/* 480, 768, 1024, 1224 */

/*============================================================================*/
/* Mobile (0 to 768)                                                          */
/*============================================================================*/
@media screen and (max-width: 767px) {


  html, body {
    overflow-x: hidden;
    z-index: -99999;
  }

  section { margin: 0;}
  body {
    width: 100%;
    section:first-of-type { padding: 0.5em 0em; }
    section { padding: 8em 0em; }
  }

  #jumbotron {
    overflow: visible;
    z-index: 99999;
  }
  #featured-testimonial-background {
    display: none;
    position: relative;
  }

  #featured-testimonial-background-touch { display: inline-block; }

  h1 {
    font-size: 4em;
    line-height: 2em;
  }
  #about {
    padding: 3em 1em;

  }

  h2 { font-size: 2.9em; }
  .collar {
    z-index: 10000000000000;
  }
  .collar .collar-logo {
    top: -50px;
  }
  #jumbotron .collar .collar-stitching h2 {
      &:first-of-type { text-align: left; }
      &:last-of-type { text-align: right; margin-right: -12px; }
      margin: 0em;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5em;
      width: 150px;
  }

  .collar .collar-logo img { width: 150px; }

  p {
    padding: 1em;
    text-align: left;
    text-indent: 1.5em;
    font-size: 1.15em;
    line-height: 1.3em;
  }
  #about article {
    display: inline-block;
    margin: 1em 0em;
  }

  #about figure a { height: 70%; }
  #about figure figcaption {
    font-size: 1.9em;
    letter-spacing: normal;
  }
  #about article .flex-text {
    font-size: 1em;
  }
  #services ul {
    margin-top: 1em;
    z-index: 999999;
  }
  #services li {
    min-width: 265px;
    max-width: 265px;
    max-height: 110px;
    min-height: 110px;
    margin: 0;
  }
  #services #touch-services {
    display: inline-block;
  }

  #services {
    a { color: #333; }
    padding: 9em 0 1em;
  }
  #services li .services-text h3 {
    text-align: left;
    font-size: 1.6em;
  }
  #services li .services-text p { display: none; }

  #services li .services-text icon {
    min-width: 130px;
    max-width: 130px;
  }
  #services li .services-icon {
    margin-right: 0;

  }
  #services li .services-icon i {
    width: 80px;
    height: 80px;
    font-size: 3.5em;
  }
  #services .collar { display: none; }

  #services .container {
    max-width: 300px;
    z-index: 9999999;
  }

  #services .services-phone {
    font-size: 2.7em;
    white-space: nowrap;
  }

  #testimonials {
    padding: 0em 1em;
  }
  #testimonials h2 { padding-top: .5em; }
  #featured-testimonial .featured-testimonial-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    text-shadow: 1px 1px 0px black;
  }

  #featured-testimonial .featured-testimonial-content blockquote {
    width: 100%;
    margin: .5em;
    padding: 0;
    font-size: 1.6em;
    font-weight: bold;
    text-align: left;
  }

  #testimonials .flex-text p, #testimonials li:nth-child(even) .flex-text p {
    text-align: left;
  }

  #featured-testimonial .featured-testimonial-content span {
    display: block;
    text-align: right;
    color: #fff;
    font-size: 1.5em;
  }

  #testimonials ul { margin: 0;}

  #testimonials li {
    display: inline-block;
    &:first-of-type {
      margin-top: 2em;
    }
    margin-bottom: 1em;
  }

  #testimonials .flex-photo, #testimonials li:nth-child(even) .flex-photo {
    margin: 0em;
  }

  #testimonials figure {
    margin-left: auto;
    margin-right: auto;
  }
  #contact {
    a { color: #FFF; }
    z-index: 9999999999;
  }
  #contact .collar {
    box-shadow: 0px -15px 95px -5px rgba(0, 0, 0, 0.5);
  }
  #contact, #contact #google-map {
    height: 800px;
    margin-bottom: 100px;
  }
  #contact #contact-container.active #google-map-controls {
    width: 100%;
  }
  #contact #contact-container.active #contact-info-drawer {
    width: 102%;
    top: 351px;
    height: 450px;
  }

  #contact address h3 {
    font-size: 3em;
    white-space: nowrap;
    text-align: center;
  }
  #contact address hr { margin-top: 1em; }
  #contact address p {
    line-height: 1em;
    text-align: center;
    text-indent: 0;
  }
  #contact address .social-icons li a {
    font-size: 3em;
    width: 74px;
    height: 72px;
  }
  #contact #google-map-controls #directions-control .directions-form .fieldset {
    padding-left: 0;
  }
  ul.social-icons { padding: 0; }


  footer {
    height: 425px;
    padding: 1em 0em;
  }

  footer .content ul {
    margin: 0em;
    max-width: 60%;
    min-width: 60%;
  }

}

/*============================================================================*/
/* Tablet (480 to 768)                                                        */
/*============================================================================*/
@media (max-width:767px) and (min-width:480px) {

}

/*============================================================================*/
/* Desktop (768+)                                                             */
/*============================================================================*/
@media screen and (min-width:768px) {

}

/*============================================================================*/
/* Limit the font size                                                        */
/*============================================================================*/
@media (min-width:1440px) {

}
