@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

///////////////////////////
///////// general ////////
/////////////////////////
h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }

h1, h2, h3 {
  margin: 1.5em;
}

html, body {
  background: url("paper-fibers.png") repeat;
  height: 5000px;
  width: 100%;
}

section {
  &:not(:first-child) {
    margin: 5em 0;
  }
  text-align: center;
}

p {
  padding: 1em;

}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

///////////////////////////
///////// splash ////////
/////////////////////////
section#splash {
  width: 100%;
  overflow: auto;
  position: relative;
  box-shadow: inset 0 -1px $dark-blue, 0px 1px #e3e2dd;
  background-color: $blue;
  @include background-image(radial-gradient($light-blue, $dark-blue));
  border-top: 1px solid $dark-blue;
}

#collage-container {
  width: 80%;
  position: relative;
  float: right;
  overflow: auto;
}

.collage {
  height: auto;
  width: 100%;
  position: relative;
  float: right;
}

///////////////////////////
///////// nav ////////
/////////////////////////
.nav-container {
  @include display(flex);
  @include flex-direction(column);
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
}

nav {
  text-align: center;
  width: 100%;
  font-family: 'Spinnaker';
  font-size: large;
  line-height: 2.5em;
}

.logo {
  width: 70%;
}
///////////////////////////
//// gallery ////////
/////////////////////////


///////////////////////////
//// testimonials ////////
/////////////////////////

section.testimonials {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

div.testimonial {
  display: flex;
  margin: 2em 0;
}

.testimonials q{
  margin: auto;
  width: 100%;
  padding: 1em;
  &:nth-child(odd) {
    text-align: right;
  }
  &:nth-child(even) {
    text-align: left;
  }
}

.customer-info {
  height: 90px;
  text-align: center;
  width: 130px;
  margin: auto;
  font-family: 'aleobold';
}

.customer-pic {
  height: 60px;
  border-radius: 50%;
}

///////////////////////////
///////// Contact ////////
/////////////////////////
section.contact {
  h2 {
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
}

div.social-media-container {
  position: absolute;
}

img.icon {
  height: 50px;
}

#google-map {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 2em;
}

#google-map img {
  max-width: none;
}

#google-map .content {
  padding: 0 0.5em 1em 0.5em;
}

#google-map .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#google-map #bodyContent p {
  font-size: 1em;
  margin: 0;
}

/////////////////////////////////////////////////////////////////////////////////
// New site jumbo
/////////////////////////////////////////////////////////////////////////////////

#jumbotron {
  position: relative;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  height: 600px;
  background-image: url(asset_path('collage-4.jpg'));
  background-size: auto 100%;
  &:before {
    content: '';
    @include position(absolute, 0px 0px 0px 0px);
    @include radial-gradient(rgba($light-blue, 0.3), rgba($dark-blue,0.9));
  }

  .jumbotron-content {
    position: relative;
    img {
      width: 200px;
    }

    h1, h2 {
      margin: 0;
      color: #fff;
    }

    h1 {
      font-family: 'flagship_slabbold';
      font-size: 7em;
    }

    h2 {
      font-family: 'flagship_slabregular';
    }
  }
}

.collar {
  position: relative;
  height: 110px;
  text-align: center;
  background-color: #9d581b;
  background-image: url(asset_path('textures/dark-leather.png'));
  border-top: 10px solid rgba(0,0,0,0.25);
  border-bottom: 10px solid rgba(0,0,0,0.25);
  box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.5);

  .collar-stitching {
    @include position(absolute, 10% 0px);
    border-top: 2px dashed rgba(255,255,255, 0.4);
    border-bottom: 2px dashed rgba(255,255,255, 0.4);
  }

  .collar-logo {
    @include position(absolute, 0px 0px 0px 0px);
    margin-top: -5%;
    img {
      width: 200px;
    }
  }

}

/////////////////////////////////////////////////////////////////////////////////
// About Section
/////////////////////////////////////////////////////////////////////////////////

#about {
  h2 {
    font-family: 'flagship_slabbold';
    text-shadow: 1px 1px 0px #fff;
  }

  .paragraph {
    @include clearfix;
    font-size: 1.25em;
    line-height: 1.95em;
    letter-spacing: 0.025em;
    text-shadow: 1px 1px 0px #fff;

    &.photo-align-left {
      .polaroid {
        float: left;
        margin: 2em 2em 1em -2em;
        @include transform(rotate(-6deg));
        box-shadow: -6px 6px 30px 3px rgba(0, 0, 0, 0.5);
      }
      p {
        text-align: right;
      }
    }

    &.photo-align-right {
      .polaroid {
        float: right;
        margin: 2em -2em 1em 2em;
        @include transform(rotate(6deg));
        box-shadow: 6px 6px 30px 3px rgba(0, 0, 0, 0.5);
      }
      p {
        text-align: left;
      }
    }

    &:first-of-type .polaroid {
      margin-top: 1em;
    }

    &:last-of-type .polaroid {
      margin-top: 1em;
    }
  }

  .polaroid {
    margin: 20px;
    padding: 20px 20px 50px 20px;
    width: 400px; height: 350px;
    background-color: #ffffff;
    background-image: url(asset_path('textures/natural-paper.png'));

    .polaroid-image {
      margin: 0;
      width: 100%; height: 265px;
      overflow: hidden;
      box-shadow: inset 0px 0px 60px 10px rgba(#022038,0.75);
      img {
        position: relative;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }
    }

    .polaroid-caption {
      font-family: 'Indie Flower', cursive;
      text-shadow: none;
      font-size: 1.4em;
      line-height: 2.2em;
      letter-spacing: 0.18em;
      font-weight: bold;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////
// About Section
/////////////////////////////////////////////////////////////////////////////////

//
// #featured-testimonial {
//   perspective: 1px;
//   height: 50vh;
//   overflow-x: hidden;
//   overflow-y: auto;
//   border: 1px solid #00ff00;
//
//   .featured-testimonial-background {
//     @include position(absolute, 0px 0px 0px 0px);
//     transform: translateZ(-1px);
//     background: url("three-bichons-vintage.jpg") repeat;
//     background-position: top;
//     background-size: cover;
//     background-color: #022038;
//   }
//   .featured-testimonial-content {
//     @include position(absolute, 0px 0px 0px 0px);
//     transform: translateZ(0);
//   }
// }

$parallax-height: 400px;

#featured-testimonial {
  position: relative;
  @include display(flex);
  @include align-items(center);
  width: 100%; height: 400px;
  overflow: hidden;
  @include transform(translate3d(0px, 0px 0px));

  .featured-testimonial-content {
    position: relative;
    z-index: 9;
    float: left;
    width: 50%;
    blockquote {
      position: relative;
      width: 100%;
      font-family: 'aleolightitalic';
      font-size: 1.75em;
      color: #fff;
    }
    span {
      color: #fff;
      font-size: 1.5em;
    }
  }
}

#featured-testimonial-background {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 800px;

  background: #022038 url(asset_path("background/1440x800-three-bichons-vintage.jpg")) 50% 50% no-repeat;
}
