
button, .btn {
  display: inline-block;
  padding: 0.75em 1em;
  vertical-align: middle;
  background-color: $dark-blue;
  border-radius: 3px;
  border: none;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  color: $white;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap; 
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  &:hover, &:focus {
    background-color: darken($dark-blue, 15%);
  }
}

.btn-close {
  border: none;
  background: none;
  color: #888;
  &:hover {
    background: #eee;
    color: #888;
  }
}
