@mixin custom-font($family, $filename, $weight) {
  font-family: $family;
  src: font-url("#{$filename}.eot");
  src: font-url("#{$filename}.eot?#iefix") format('embedded-opentype'),
  font-url("#{$filename}.woff") format('woff'),
  font-url("#{$filename}.ttf") format('truetype'),
  font-url("#{$filename}.svg##{$family}") format('svg');
  font-weight: $weight;
}

@mixin social-icon($color) {
  @include position(relative, 0px null null null);
  box-shadow: inset 0px -6px 0px -1px shade($color, 35%);
  border-top: 1px solid shade($color, 25%);
  border-left: 1px solid shade($color, 25%);
  border-right: 1px solid shade($color, 25%);
  border-radius: 50%;
  background-color: shade($color, 15%);
  color: tint($color, 85%);
  @include transition(all 0.4s $ease-in-out-back);
  i { vertical-align: middle; }
  &:hover {
    top: -20px;
    background-color: $color;
    color: $white;
  }
}

@mixin responsive-background($tag: '') {
  background-image: url(asset-path("backgrounds/1200-#{$tag}.jpg"));
  @media(min-width: 431px)  { background-image: url(asset-path("backgrounds/1440-#{$tag}.jpg")); }
  @media(min-width: 749px)  { background-image: url(asset-path("backgrounds/1440-#{$tag}.jpg")); }
  @media(min-width: 1441px) { background-image: url(asset-path("backgrounds/2650-#{$tag}.jpg")); }
  @media(min-width: 2561px) { background-image: url(asset-path("backgrounds/3200-#{$tag}.jpg")); }
}

// Not really a mixin, just a shortcut
@mixin retina-textured-background {
  @include retina-image($white-wall-bg, 800px 600px, 'png', $white-wall-bg, '_2x', true);
}
