
// Base Font
$base-font-family: 'spinnakerregular', sans-serif;
$base-font-size: 1em;
$base-font-color: #333;
$base-line-height: 1.5;

// Header Font
$heading-font-family: 'flagship_slabbold', serif;
$heading-line-height: 1.2;

// Colors
$light-blue: #42a0fa;
$blue: #1C75BC;
$dark-blue: #025cb3;
$medium-blue: #0681f7;

$yellow: #FFFC04;
$pink: #FD046D;
$orange: #FF9904;

$off-white: #ECF0F1;
$white: #fff;
$black: #000;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Social Colors
$facebook-blue: #3b5998;
$yelp-red: #af0606;
$google-plus-red: #dd4b39;

// Backgrounds
$paper-background: url(asset-path("textures/paper-fibers.jpg"));
$white-wall-bg: 'backgrounds/white_wall';



// Responsive breakpoints
$mobile-tiny: new-breakpoint(max-width 310px 4);
$multi-column: new-breakpoint(min-width 480px);
$stack-column: new-breakpoint(max-width 1023px);

$single-column: new-breakpoint(max-width 479px);
$double-column: new-breakpoint(min-width 480px max-width 1023px);
$triple-column: new-breakpoint(min-width 1024px);

$mobile-double-column: new-breakpoint(min-width 480px max-width 767px);
$desktop-double-column: new-breakpoint(min-width 768px max-width 1024px);

$mobile: new-breakpoint(max-width 767px);
$not-mobile: new-breakpoint(min-width 768px);
$tablet: new-breakpoint(min-width 768px max-width 979px);
$not-desktop: new-breakpoint(max-width 979px);
$desktop: new-breakpoint(min-width 980px);
$not-skinned: new-breakpoint(max-width 1224px);
$skinned: new-breakpoint(min-width 1225px);
$non-fluid: new-breakpoint(min-width 480px max-width 979px);
