@font-face {
    font-family: 'aleolightitalic';
    src: url('aleo-lightitalic-webfont-webfont.eot');
    src: url('aleo-lightitalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-lightitalic-webfont-webfont.woff2') format('woff2'),
         url('aleo-lightitalic-webfont-webfont.woff') format('woff'),
         url('aleo-lightitalic-webfont-webfont.ttf') format('truetype'),
         url('aleo-lightitalic-webfont-webfont.svg#aleolightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flagship_slabbold';
    src: url('Flagship Slab - Bold-webfont.eot');
    src: url('Flagship Slab - Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Flagship Slab - Bold-webfont.woff2') format('woff2'),
         url('Flagship Slab - Bold-webfont.woff') format('woff'),
         url('Flagship Slab - Bold-webfont.ttf') format('truetype'),
         url('Flagship Slab - Bold-webfont.svg#flagship_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flagship_slabregular';
    src: url('Flagship Slab - Regular-webfont.eot');
    src: url('Flagship Slab - Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Flagship Slab - Regular-webfont.woff2') format('woff2'),
         url('Flagship Slab - Regular-webfont.woff') format('woff'),
         url('Flagship Slab - Regular-webfont.ttf') format('truetype'),
         url('Flagship Slab - Regular-webfont.svg#flagship_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_rust_extrasfree';
    src: url('NexaRustExtras-Free-webfont.eot');
    src: url('NexaRustExtras-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustExtras-Free-webfont.woff2') format('woff2'),
         url('NexaRustExtras-Free-webfont.woff') format('woff'),
         url('NexaRustExtras-Free-webfont.ttf') format('truetype'),
         url('NexaRustExtras-Free-webfont.svg#nexa_rust_extrasfree') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('aleo-bold-webfont-webfont.eot');
    src: url('aleo-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-bold-webfont-webfont.woff2') format('woff2'),
         url('aleo-bold-webfont-webfont.woff') format('woff'),
         url('aleo-bold-webfont-webfont.ttf') format('truetype'),
         url('aleo-bold-webfont-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleolight';
    src: url('aleo-light-webfont-webfont.eot');
    src: url('aleo-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-light-webfont-webfont.woff2') format('woff2'),
         url('aleo-light-webfont-webfont.woff') format('woff'),
         url('aleo-light-webfont-webfont.ttf') format('truetype'),
         url('aleo-light-webfont-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleoregular';
    src: url('aleo-regular-webfont-webfont.eot');
    src: url('aleo-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-regular-webfont-webfont.woff2') format('woff2'),
         url('aleo-regular-webfont-webfont.woff') format('woff'),
         url('aleo-regular-webfont-webfont.ttf') format('truetype'),
         url('aleo-regular-webfont-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



// Typography
$base-font-family: 'Spinnaker', sans-serif;
$heading-font-family: 'flagship_slabbold';

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 5.0;
$h2-font-size: $base-font-size * 2.5;
$h3-font-size: $base-font-size * 2.0;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$light-blue: #42a0fa;
$blue: #1C75BC;
$dark-blue: #025cb3;
$medium-blue: #0681f7;
$yellow: #FFFC04;
$pink: #FD046D;
$orange: #FF9904;
$white: #ECF0F1;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $dark-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
