
#about {
  z-index: -1;
  padding: 11em 0 6em;
  @include retina-textured-background;




  h2 { text-shadow: 1px 1px 0px $white; }

  article {
    @include clearfix();
    @include display(flex);
    @include align-items(center);
    .flex-photo {
      position: relative;
      margin-top: 1.25em;
      min-width: 30%;
      &.align-left {
        @include order(1);
      }
    }
    .flex-text {
      font-size: 1.15em;
      text-align: left;
      &.align-left {
        @include order(2);
        text-align: right;
      }
    }
  }

  figure {
    margin: 0;
    border: 1px solid #e0e0e0;
    background-color: $white;
    &.tilt-left {
      box-shadow: -12px 15px 30px -3px #999;
      @include transform(rotate(-5deg) translateZ(0));
    }
    &.tilt-right {
      box-shadow: 15px 12px 30px -3px #999;
      @include transform(rotate(5deg) translateZ(0));
    }
    a {
      display: block;
      margin: 1em 1em 0.3em;
      height: 80%;
      background-size: cover;
      box-shadow: inset 0px 0px 60px 0px #536D83;
    }
    figcaption {
      font-family: 'indie_flowerregular', cursive;
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 0.18em;
      text-align: center;
    }
  }
}
