
#about {
  h2 {
    font-family: 'flagship_slabbold';
    text-shadow: 1px 1px 0px #fff;
  }

  .paragraph {
    @include clearfix;
    font-size: 1.25em;
    line-height: 1.95em;
    letter-spacing: 0.025em;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.95);

    &.photo-align-left {
      .polaroid {
        float: left;
        margin: 2em 2em 1em -2em;
        @include transform(rotate(-6deg));
        box-shadow: -6px 6px 30px 3px rgba(0, 0, 0, 0.5);
      }
      p {
        text-align: right;
      }
    }

    &.photo-align-right {
      .polaroid {
        float: right;
        margin: 2em -2em 1em 2em;
        @include transform(rotate(6deg));
        box-shadow: 6px 6px 30px 3px rgba(0, 0, 0, 0.5);
      }
      p {
        text-align: left;
      }
    }

    &:first-of-type .polaroid {
      margin-top: 1em;
    }

    &:last-of-type .polaroid {
      margin-top: 1em;
    }
  }

  .polaroid {
    margin: 20px;
    padding: 20px 20px 50px 20px;
    width: 400px; height: 350px;
    background-color: #ffffff;
    background-image: url(asset_path('textures/natural-paper.png'));

    .polaroid-image {
      margin: 0;
      width: 100%; height: 265px;
      overflow: hidden;
      box-shadow: inset 0px 0px 60px 10px rgba(#022038,0.75);
      img {
        position: relative;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }
    }

    .polaroid-caption {
      font-family: 'Indie Flower', cursive;
      text-shadow: none;
      font-size: 1.4em;
      line-height: 2.2em;
      letter-spacing: 0.18em;
      font-weight: bold;
    }
  }
}
