#gallery {
  padding: 0px;
  background: $dark-blue;

  // Photo Grid
  .photos {
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    text-align: center;
  }

  // Individual Photo
  .photo {
    display: block;
    position: relative;
    @include flex-grow(1);
    @include align-self(stretch);
    min-width: 25%;
    min-height: 50%;
    max-height: 50%;
    background-size: cover;
    background-position: center center;
    padding: 2em 2em 3em 2em;
    opacity: 0.25;
    @include transition (opacity 0.2s ease-in-out);
    @include transform(translateZ(0));
    &.photo-2x {
      @include flex-grow(2);
      min-width: 40%;
    }
    &:hover {
      opacity: 1;
    }
  }
}

// Photo Modal
#photo-modal {
  visibility: hidden;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include position(fixed, 0px);
  z-index: 90;
  background-color: rgba(0,0,0,0.85);
  opacity: 0;
  @include transition(opacity 0.5s $ease-in-out-expo);
  &.active {
    visibility: visible;
    // z-index: 90;
    opacity: 1;
    // .page-overlay {
    //   pointer-events: auto;
    // }
  }

  // Polaroid
  figure {
    position: relative;
    z-index: 120;
    padding: 16px;
    width: auto;
    max-height:95%;
    background: $white;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 35px 50px -25px $black;
    #current-photo {
      position: relative;
      font-size: 0em;
      &:before {
        content: '';
        @include position(absolute, 0px);
        box-shadow: inset 0px 0px 75px 0px #191F24;
      }
    }

    // Arrows (shared)
    #photo-left, #photo-right {
      display: block;
      position: absolute;
      top: 45%;
      z-index: 120;
      padding-top: 6px;
      width: 1.25em; height: 1.25em;
      border-radius: 50%;
      background-color: rgba($white,0.6);
      box-shadow: inset 0px 0px 0px 4px rgba(2, 92, 179,0.8);
      font-size: 80px;
      color: rgba(darken($dark-gray,10%),0.75);
      text-align: center;
      // pointer-events: auto;
      @include transition(box-shadow 0.25s, color 0.4s);
      &:hover {
        box-shadow: inset 0px 0px 0px 50px rgba(2, 92, 179, 0.75);
        color: $white;
      }

      // Arrow left
      &#photo-left {
        right: 0px;
        margin-right: 115%;
        padding-right: 12px;
      }

      // Arrow right
      &#photo-right {
        left: 0px;
        margin-left: 115%;
        padding-left: 12px;
      }
    }

    // Caption
    figcaption {
      padding-top: 16px;
      font-family: 'indie_flowerregular', cursive;
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 0.18em;
      text-align: center;
    }

    // Ordinal
    .ordinal {
      position: absolute;
      bottom: -37px;
      font-family: 'indie_flowerregular', cursive;
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 0.18em;
      color: white;
      font-size: 21px;
    }

    // Close
    #photo-close {
      position: absolute;
      right: -0px;
      bottom: -30px;
      a {
        color: #9f9f9f;
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}
