#services {
  #touch-services { display: none; }
  @include retina-textured-background;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }

  li {
    flex: 0 0 50%;
    @include clearfix;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25em 0;
    text-align: left;

    .services-icon {
      margin-right: 1.5em;
      min-width: 100px;
      max-width: 100px;
      i {
        display: block;
        @include size(100px);
        background-color: #ffe100;
        border: 2px solid rgba($black, 0.4);
        border-radius: 50%;
        font-size: 4.5em;
        color: rgba(#613c1b, 0.7);
        text-align: center;
        line-height: 1.33em;
        @include transition(all 0.1s);
      }
    }

    .services-text {
      width: 100%;
      h3 {
        text-shadow: 1px 1px 0px $white;
        font-size: 2em;
      }
      p {
        display: block;
        padding: 0;
        font-size: 1.15em;
        line-height: 1.55em;
      }
      &:nth-child(odd) {
        padding-right: 0.5em;
      }
    }

    &:hover {
      i {
        background-color: rgba($light-blue,0.75);
        color: $white;
      }
    }


  }
  .services-cta {
    font-size: 1.25em;
  }
  .services-phone {
    font-size: 3.5em;
  }
}
