<div class="collar">
  <div class="stitching">
    <% if (title ||= false) %>
      <h2><%= title %></h2>
    <% else %>
      <h2 class="around-badge">EST.</h2>
      <div class="logo"><%= image_tag "super-pups-circle-logo.png" %></div>
      <h2 class="around-badge">1996</h2>
    <% end %>
  </div>
</div>
