<div id="before-page"></div>
<header id="jumbotron">
  <div class="container">
    <div class="flex-content">
      <h1>
        SuperPups
      </h1>
      <h2>
        San Mateo's Premier
        <span>Pet Salon</span>
      </h2>
    </div>
  </div>

  <%= render 'collar' %>
</header>
