<nav id="mobile-nav">
  <a id="mobile-nav-btn" data-toggle="#mobile-nav, #darkening-layer">
    <i class="fa fa-bars"></i>
  </a>
  <div class="sections">
    <%= image_tag "super-pups-circle-logo.png" %>
    <a href="#services" data-toggle="#mobile-nav, #darkening-layer">Pet Services</a>
    <a href="#contact" data-toggle="#mobile-nav, #darkening-layer">Contact Us</a>
    <hr>
    <a href="#about" data-toggle="#mobile-nav, #darkening-layer">About Us</a>
    <a href="#testimonials" data-toggle="#mobile-nav, #darkening-layer">Testimonials</a>
  </div>
</nav>
