<div class="container">
  <h2> Admin Dashboard </h2>

  <button class="button button-pink">
    <%= link_to admin_section_path(:about) do %>
      <strong> About </strong>
    <% end %>
  </button>

  <button class="button button-pink">
    <%= link_to admin_section_path(:testimonials) do %>
      <strong> Testimonials </strong>
    <% end %>
  </button>
</div>
