textarea.form-control {
  height: 8em;
}

input.button-blue {
  background-color: $blue;
}

button.button-pink {
  background-color: $pink;
  display: block;
  margin: 1em;
}

input.button-orange {
  background-color: $orange;
}
