<!DOCTYPE html>
<html>
<head>
  <title>SuperPups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link href='assets/normalize.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Capriola|Enriqueta:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Londrina+Outline|Happy+Monkey|Love+Ya+Like+A+Sister|Londrina+Shadow' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fenix|Cantata+One|Arvo:400,700|Playfair+Display:400,900|Glass+Antiqua|PT+Serif:400,700|Mate+SC|Averia+Serif+Libre:400,700|Libre+Baskerville:400,700|Cookie|Marmelad|Volkhov|Montaga|Chelsea+Market|Abril+Fatface|IM+Fell+Double+Pica|Ranchers|Patua+One|Delius|Averia+Gruesa+Libre' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Artifika|Marko+One|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
